.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-dark);
    border-bottom: 1px solid var(--color-grey);
    padding: 0 0.5rem;
}

.toggle {
    background-color: transparent;
    color: var(--color-text);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 150ms ease-out;
}

.toggle:hover{
    transform: scale(1.1);
    color: var(--color-accent);
}

.filters {
    display: flex; /* 보면 부모 자식 둘다 flex 속성을 지니고 있음 */

}

/* 각각의 필터 버튼 (All, Active, Complete) */
.filter {
    font-size: 1.4rem; /* 기본보다 좀 더 크게 */
    margin: 0.3rem;
    text-transform: capitalize; /* 첫글자 대문자로 */
    background-color: transparent; 
    color: var(--color-accent);
    opacity: 0.8; /* 글자 투명도 */
    font-weight: bold;
}

/* 마우스를 올리거나 선택되었다면 좀더 진하게 표시  */
.filter:hover,
.filter.selected { /* filter요소에 selected 클래스가 있어야함 */
    opacity: 1; /* 0.8 -> 1 */
}


.filter.selected::after {
    content: ''; /* 가상 요소의 내용을 빈 문자열로 생성 */
    display: block; /* 해당 줄 전체 차지 (block요소) -> 옆이 아닌 밑으로 내려감 */
    margin-top: 0.2rem;
    border: 1px solid var(--color-text);
}

